<header id="header" class="fixed-top" style="background: rgba(0, 0, 0, 0.8);">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <!--<h1 class="logo me-auto me-lg-0"><a href="index.html">C<span>+</span></a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ path('app_accueil') }}" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt=""
                class="img-fluid"></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="{{ path('app_accueil') }}">Accueil</a></li>
                <li class="dropdown"><a href="{{ path('app_couverture') }}"><span>Couverture</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('app_couverture')}}#Isolation toiture">Isolation Toiture</a></li>
                        <li><a href="{{ path('app_couverture')}}#Inspection réguliere">Inspection réguliere</a></li>
                        <li><a href="{{ path('app_couverture')}}#Nettoyage de la toiture">Nettoyage de la toiture</a>
                        </li>
                        <li><a href="{{ path('app_couverture')}}#Réparation des fuites">Réparation des fuites</a></li>
                        <li><a href="{{ path('app_couverture')}}#Remplacement des matériaux endommagé">Remplacement des
                                matériaux endommagé</a>
                        </li>
                        <li><a href="#Programme d'entretien préventif">Programme d'entretien préventif</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="{{ path('app_toiture') }}"><span>Type de toiture</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('app_toiture') }}#Toits en pente">Toits en pente</a>
                        </li>
                        <li><a href="{{ path('app_toiture') }}#Toits plats">Toits plats</a></li>
                        <li><a href="{{ path('app_toiture') }}#Toits en bardeaux">Toits en bardeaux</a></li>
                        <li><a href="{{ path('app_toiture') }}#Toits en tuiles">Toits en tuiles</a></li>
                        <li><a href="{{ path('app_toiture') }}#Toits en metal">Toits en metal</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="{{ path('app_materiaux') }}"><span>Matériaux de couverture</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('app_materiaux') }}#Ardoise">Ardoise</a></li>
                        <li><a href="{{ path('app_materiaux') }}#Bois">Bois</a></li>
                        <li><a href="{{ path('app_materiaux') }}#Tuiles en ceramique">Tuiles en ceramique</a></li>
                        <li><a href="{{ path('app_materiaux') }}#Metaux (acier, aluminium, cuivre)">Metaux (acier,
                                aluminium, cuivre)</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="{{ path('app_peinture') }}"><span>Peinture</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ path('app_peinture') }}#Peinture ravalement">Peinture ravalement</a>
                        </li>
                        <li><a href="{{ path('app_peinture') }}#Peinture boiseries">Peinture boiseries</a></li>
                        <li><a href="{{ path('app_peinture') }}#Lasure de boiserie">Lasure de boiserie</a></li>
                        <li><a href="{{ path('app_peinture') }}#Peinture interieur et exterieur">Peinture interieur et
                                exterieur</a></li>
                        <li><a href="{{ path('app_peinture') }}#Peinture sur cheminée">Peinture sur cheminée</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a href="tel:+33649931360" class="get-started-btn scrollto d-md-none"><strong
                class="bi bi-telephone-outbound-fill"></strong></a>
        <a href="{{ path('app_devis') }}" class="get-started-btn scrollto"><strong>Devis ></strong></a>
    </div>
</header>