{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Couverture <span>+</span></h1>
                <h2>Que ce soit pour des installations neuves, des réparations ou des rénovations, notre équipe
                    de couvreurs professionnels est là pour vous fournir des solutions fiables et
                    durables.</h2>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="bi bi-house-door"></i>
                    <h3><a href="{{ path('app_couverture') }}">Couverture</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="bi bi-columns"></i>
                    <h3><a href="{{ path('app_toiture') }}">Types de toiture</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="bi bi-collection"></i>
                    <h3><a href="{{ path('app_materiaux') }}">Matériaux de couverture</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-paint-brush-line"></i>
                    <h3><a href="{{ path('app_peinture') }}">Peinture</a></h3>
                </div>
            </div>
        </div>

    </div>
</section>
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                    data-aos-delay="100">
                    <h3>Experts en Couverture, Tuile, Ardoise et Toit de Chaume</h3>
                    <p class="fst-italic">
                        Notre entreprise se positionne comme un expert de confiance pour tous vos besoins en matière de
                        couverture tuile, ardoise et toit de chaume. Nous offrons une large gamme de services pour
                        répondre aux besoins de nos clients, y compris la façade, la peinture sur toit, le démoussage,
                        etc.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Notre équipe qualifiée travaille avec diligence pour
                            offrir des résultats de qualité.</li>
                        <li><i class="ri-check-double-line"></i> Nous fournissons un service personnalisé pour chaque
                            projet.</li>
                        <li><i class="ri-check-double-line"></i> Nous sommes déterminés à assurer la satisfaction de nos
                            clients en fournissant des solutions durables et innovantes pour tous les types de projets
                            de couverture.</li>
                    </ul>
                    <p>
                        Contactez-nous pour obtenir un devis personnalisé et découvrir comment nous pouvons vous aider à
                        réaliser votre projet de couverture.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!--  ======= Features Section ======= 
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="image col-lg-6" style='background-image: url("assets/img/features.jpg");'
                    data-aos="fade-right"></div>
                <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-receipt"></i>
                        <h4>Est labore ad</h4>
                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Harum esse qui</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-images"></i>
                        <h4>Aut occaecati</h4>
                        <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-shield"></i>
                        <h4>Beatae veritatis</h4>
                        <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                    </div>
                </div>
            </div>

        </div>
    </section> End Features Section -->

    <!-- ======= Services Section ======= 
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
                <p>Check our Services</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Lorem Ipsum</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                    data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Sed ut perspiciatis</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                    data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Magni Dolores</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4><a href="">Nemo Enim</a></h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-slideshow"></i></div>
                        <h4><a href="">Dele cardo</a></h4>
                        <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-arch"></i></div>
                        <h4><a href="">Divera don</a></h4>
                        <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                    </div>
                </div>

            </div>

        </div>
    </section> End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Devis Gratuit</h3>
                <p> Chez Couverture+, nous croyons en la transparence et le service de qualité. C'est pourquoi nous
                    offrons des devis gratuits à tous nos clients potentiels. Que ce soit pour l'installation d'une
                    nouvelle toiture, des réparations ou simplement des conseils, notre équipe de professionnels est là
                    pour vous accompagner à chaque étape du processus. Obtenez une estimation détaillée de vos besoins
                    sans frais ni engagement. Contactez-nous dès aujourd'hui pour planifier votre consultation gratuite
                    et découvrir comment nous pouvons répondre à vos besoins en matière de couverture.</p>
                <a class="cta-btn" href="{{ path('app_devis') }}">Demander votre devis</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                    data-aos="fade-right" data-aos-delay="100"></div>
                <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left"
                    data-aos-delay="100">
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="row">
                            <h3>Quelques chiffres</h3>
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-emoji-smile"></i>
                                    <span>
                                        <span data-purecounter-start="0" data-purecounter-end="98"
                                            data-purecounter-duration="2" class="purecounter"></span>%
                                    </span>
                                    <p><strong>des Clients</strong> satisfaits témoignent de notre
                                        engagement à fournir des solutions de qualité et un service exceptionnel.</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-journal-richtext"></i>
                                    <span>
                                        <span data-purecounter-start="0" data-purecounter-end="1200"
                                            data-purecounter-duration="2" class="purecounter"></span>+</span>
                                    <p><strong>Projets</strong> réalisés témoignent de notre expertise et de notre
                                        capacité à concrétiser vos ambitions.</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-clock"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="27"
                                        data-purecounter-duration="4" class="purecounter"></span>
                                    <p><strong>Années d'experience</strong> forgent notre savoir-faire et notre
                                        engagement envers nos clients.</p>
                                </div>
                            </div>

                            <!-- <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-award"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="20"
                                        data-purecounter-duration="4" class="purecounter"></span>
                                    <p><strong>Awards</strong> rerum asperiores dolor alias quo reprehenderit eum et
                                        nemo pad der</p>
                                </div>
                            </div> -->
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Galerie</h2>
                <p>Photos</p>
            </div>
            <!--<div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div> -->
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="assets/img/portfolio/couvreur_toit.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 2">
                            <img src="assets/img/portfolio/couvreur_toit.jpg" class="img-fluid">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="assets/img/portfolio/couvreur-toiture.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 2">
                            <img src="assets/img/portfolio/couvreur-toiture.jpg" class="img-fluid">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="assets/img/portfolio/toiture-tuile.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 2">
                            <img src="assets/img/portfolio/toiture-tuile.jpg" class="img-fluid">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="assets/img/portfolio/toiture_metal.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 2">
                            <img src="assets/img/portfolio/toiture_metal.jpg" class="img-fluid">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="assets/img/portfolio/toiture-ardoise.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 2">
                            <img src="assets/img/portfolio/toiture-ardoise.jpg" class="img-fluid">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="assets/img/portfolio/toiture_ardoise.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 2">
                            <img src="assets/img/portfolio/toiture_ardoise.jpg" class="img-fluid">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>

        </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h3>Marie Lesage</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Je suis extrêmement satisfaite des services de Couverture+. Leur équipe a été
                                professionnelle, efficace et attentionnée dès le premier contact jusqu'à la fin des
                                travaux. Je recommande vivement leurs services à quiconque cherche des solutions de
                                couverture fiables et de qualité.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h3>Martin Boissel</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                J'ai fait appel à Couverture+ pour la réparation de la toiture de ma maison, et je n'ai
                                pas été déçu ! Leur équipe a été rapide, compétente et très respectueuse de mon budget.
                                Je suis très content du résultat final et je n'hésiterai pas à faire de nouveau appel à
                                eux pour mes futurs projets.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h3>Julien Grégoire</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Un grand merci à Couverture+ pour leur excellent travail sur notre toit en tuiles. Leur
                                équipe a été très professionnelle et a su répondre à nos besoins spécifiques avec
                                compétence et diligence. Nous sommes ravis du résultat et nous recommandons chaudement
                                leurs services à tous ceux qui recherchent des couvreurs de confiance.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h3>Gregory Durand</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Je tiens à témoigner de la qualité exceptionnelle des services de Couverture+. Leur
                                équipe a su faire preuve d'un grand professionnalisme et d'un savoir-faire remarquable
                                lors de la rénovation de notre toiture. Nous avons été pleinement satisfaits du résultat
                                final et nous recommandons vivement cette entreprise à tous ceux qui recherchent des
                                couvreurs compétents et fiables
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h3>Christophe Dubosq</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Nous avons eu recours à Couverture+ pour l'installation d'un nouveau toit en bardeaux et
                                nous avons été impressionnés par leur efficacité et leur expertise. Leur équipe a été
                                très à l'écoute de nos besoins et a su nous conseiller judicieusement tout au long du
                                projet. Nous sommes ravis du résultat et nous n'hésiterons pas à faire appel à eux à
                                l'avenir.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= 
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Team</h2>
                <p>Check our Team</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Product Manager</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="member-img">
                            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section> End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Nous contacter</p>
            </div>
            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Adresse:</h4>
                            <p>2b rue des frères Chappe <br>
                                14540, Grentheville</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@couverture-plus.fr</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Téléphone:</h4>
                            <p>0203040506</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">
                    {{ form_start(form) }}

                    {{ form_end(form) }}
                </div>

            </div>
            <div>
                <iframe style="border:0; width: 100%; height: 270px;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2609.4999844054523!2d-0.3048971!3d49.1531173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480a69a869969d97%3A0x68c5ca3e717b3fb1!2sRue%20des%20Fr%C3%A8res%20Chappe%2C%20Grentheville!5e0!3m2!1sfr!2sfr!4v1706804316118!5m2!1sfr!2sfr"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main>
{% endblock %}