<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!
        {% endblock %}
    </title>

    <script defer src="{{ asset('js/index.js') }}"></script>
    <script src="https://kit.fontawesome.com/5b58252ceb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


</head>

<body class="d-flex flex-column">
    {{ include('partials/__header.html.twig') }}
    <div class="flex-fill d-flex flex-row-nowrap justify-content-center">
        <div class="content d-flex flex-row-nowrap flex-fill py-20">
            {{ include('partials/__sidebar.html.twig') }}
            <div class="flex-fill"> {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {{ include('partials/__footer.html.twig') }}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>